body{
    width:100vw;
    overflow-x: hidden;
}

button {
    width: 200px;
    height: 50px;
    line-height: 40px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15pt;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: black;
    text-decoration: none;
    color: white;
}

/* intro */
.intro_bg {
    background-image: url("../img/intro.jpg");
    background-position: right; 
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Menu Bar */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    background-color: #24252a;
    padding: 20px 0;
}

nav{
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("../img/logo.png");
    width: 300px;
    height: 80px;
    margin:0
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links a,
.cta,
.overlay_content a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #edf0f1;
    text-decoration: none;
    font-size: 10pt;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: #0088a9cc;
}

/* main text0 */
.main_text0 {
    width: 90vw;
    margin: auto;
    text-align: center;
    margin-top: 120px;
}

.main_text0 > h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 4rem
}

.main_text0 > h4 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 35pt;
    margin-top: 20px;
    letter-spacing: 2px;
}

/* Container */

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f1e9;
    margin: 50px auto;
    max-width:500px;
    margin-bottom: 30px;
}

.video_wrapper video{
    max-width:100vw ;
}

.container > .main_text1 {
    max-height: 100%;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    padding:50px 20px 50px 50px ;
}

.container > .main_text1 > h2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30pt;
}

/* Products */
.products {
    box-sizing: content-box;
    background-color: #86b8bf42;
    margin-top: 150px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.main_text2 {
    width: 100%;
    margin: auto;
}

.main_text2 > h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    position: relative;
    padding: 0 0px;
}

.cell {
    float: left;
}

.products > .product_box {
    width: 300px;
    cursor: pointer;
}


.products > .product_box img {
    width: 300px; 
    cursor: pointer;
}
.products > .product_box > .txt_box > h4 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15pt;
    text-transform: uppercase;
}

.products > .product_box > .txt_box > h5 {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13pt;
}

.products > .product_box > .txt_box > button {
    width: 200px;
    height: 50px;
    line-height: 40px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15pt;
    cursor: pointer;
    justify-content: center;
    transform: translateX(25%);
}

.products > .product_box > .txt_box > button:hover {
    background-color: black;
    text-decoration: none;
    color: white;
}

/* Icons */
.icons {
    box-sizing: content-box;
    padding: 0%;
    margin-top: 50px;
    padding-bottom: 100px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icons > .icon_box {
    width: 120px;
    height: 120px;
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons > .icon_box > .txt_box > h4 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15pt;
    margin-top: 20px;
}

/* Footer */
.footer_dark {
    padding:50px 0;
    color:#ffffff;
    background-color:#24252a;
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;

}

.footer .row{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}



.footer_dark h3 {
    margin-top:0;
    margin-bottom:15px;
    font-weight:bold;
    font-size:15pt;
    text-transform: uppercase;
}
  
.footer_dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:15pt;
    margin-bottom:0;
}
  
.footer_dark ul a {
    color:#ffffff;
    opacity:0.5;
    text-decoration:none;
    transition: all 0.3s ease 0s;
}
  
.footer_dark ul a:hover {
    color: #0088a9;
}
  
.footer_dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
}
  
.footer_dark .item.text {
    margin-bottom:36px;
}
  
.footer_dark .item.text {
     margin-bottom:0;
}
  
.footer_dark .item.text p {
    opacity:0.5;
    margin-bottom:0;
}
  
.footer-dark .item.social {
    text-align:center;
}
  
.footer_dark .item.social {
    text-align:center;
    margin-top:20px;
}
  
.footer_dark .item.social > a {
    font-size:20pt;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 2px #0088a9;
    margin:0 8px;
    color:#ffffff;
    opacity:0.75;
}
  
.footer_dark .item.social > a:hover {
    opacity:0.5;
}
  
.footer_dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13pt;
    margin-bottom:0;
}

.footer__info{
    color:white;
}

.linkToTop{
    text-align: center;
    margin-top: 20px;;
    font-size: 20px;
}

.linkToTop a{
    color:white;
    text-decoration: none;
}

/* desktop website styling */
@media screen and (min-width: 650px){

    header{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:100vw;
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
    }

    
    
.nav_links a,
.cta,
.overlay_content a {
    font-size: 15pt;
}


    .nav_links {
        margin: 20px;
    }

    .intro_bg{
        margin-top: 120px;
        height: 80vh;

    }

    .container {
        display: flex;
        flex-direction: row;
        max-width: 90vw;
        background-color: #f5f1e9;
        margin: 50px auto;
        margin-bottom: 0px;

    }



    .footer .row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

